/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.header, .footer {
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

    nav ul li {
        margin: 0 15px;
    }


    .hero-image{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
            url(../)
    }
