@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Practices Webpage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div>
            <div>

            </div>
        </div>
        @* Make this navigation bar a side bar*@
        <nav aria-label="Main navigation">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="hero-image">
            <div class="hero-text">

            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Rest Assured</p>
    </footer>
    <script src="scripts.js" defer></script>
</body>